@font-face {
    font-family: 'savi';
    src: url('fonts/savi.eot?uvn6nm');
    src: url('fonts/savi.eot?uvn6nm#iefix') format('embedded-opentype'),
    url('fonts/savi.ttf?uvn6nm') format('truetype'),
    url('fonts/savi.woff?uvn6nm') format('woff'),
    url('fonts/savi.svg?uvn6nm#savi') format('svg');
}

i.savi {
    font-family: 'savi', serif !important;
    font-style: normal;
}

.savi-logo:before {
    content: "\e900";
}

.savi-logo-line:before {
    content: "\e901";
}

.savi-icon:before {
    content: "\e902";
}

.savi-icon-line:before {
    content: "\e903";
}

.savi-office:before {
    content: "\e904";
}

.savi-customer-support:before {
    content: "\e905";
}

.savi-spaceship:before {
    content: "\e906";
}

